# Ignore files for macosx
.DS_Store

# Ignore files build by xcode
*.mode*v*
*.pbxuser
*.xcbkptlist
*.xcworkspacedata
*.xcuserstate
*.xccheckout
xcschememanagement.plist
._.*


# Ignore files for unity temp.
trunk/Library
trunk/Temp

trunk/.vs
trunk/obj
trunk/Assembly-CSharp.csproj
trunk/Assembly-CSharp-Editor.csproj

# Ignore files for project special.
trunk/Assets/Resources/Map.meta